*
{
    margin:0px;
    padding:0px;
}

#container
{
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 15px;
}
#container > .gato2
{
    grid-column-start: 2;
    grid-column-end:2;
}