*
{
    padding: 0;
    margin:0;
}
#container
{
    display: grid;
    grid-template-columns: repeat(6,10vw);
    grid-template-rows: repeat(3,15vh);
    grid-gap:5px;
    height: 50vh;
    width: 50vw;
}
#container > div
{
    background-color: grey;
}
#container > .mina:hover
{
    cursor: pointer;
    background-color: red;
}