*
{
    padding:0;
    margin:0;
}
a
{
    width:4vw;
}
ul
{
    margin-left: 20px;
    list-style: square;
}
ol
{
    margin-left: 20px;
}
ul:last-of-type
{
    list-style: none;
}
#container
{
    display: flex;
    flex-direction: column;
}


/*Márgenes*/

.margin-top
{
    margin-top:25px;
}